@import "../../Globalcss/variable.scss";
@import "../../Globalcss/responsive.scss";

.Menu{
    height: calc(100vh - 66px);
    overflow-y: scroll;
    position: sticky;
    top: 66px;
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        padding: 5px 20px;

        .title{
            font-size: 14px;letter-spacing: 1px;
            font-weight: 700;
            color: $soft-color;
            text-transform: uppercase;
            @include lg{
                display: none;
            }

            
        }
        .listItem{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            color: $soft-color;
            font-size: 12px;
            letter-spacing: 1px;
            &:hover{
                background-color: $soft-bg;
                border-radius: 5px;
            }
            
            .listItemTitle{
                @include lg{
                    display: none;
                }
            }
        }

    }
}