@import "./variable.scss";
@import "./responsive.scss";


.main{
    background-color: $main-bg;
    color: $main-color;
    // overflow-y: hidden;
}
.container{
    display: flex;
}
.menuContainer{
    width: 180px;
    // padding: 5px 20px;
    border-right: 2px solid $soft-bg;
    @include lg{
        width: max-content;
    }
}
.contentContainer{
    padding: 5px 20px;
    width: calc(100% - 240px);
}