.bot{
    background-color: #ff0303 !important;
    color: white  !important;
}
.bot:hover{
    background-color: #ff2222  !important;
}
.MuiButtonBase-root:disabled {
    cursor: not-allowed !important;
    pointer-events:none;
    background-color: red;
    color:red
  }
  