.bot{
    background-color: #ff0303 !important;
    color: white  !important;
}
.bot:hover{
    background-color: #ff2222  !important;
}
/* .MuiInputLabel-root-focused {
    color: #f21717 !important;
  } */